:root {
    --front: #3f33a0;
    --back: #7b6fd9;
}

body {
    background: var(--back);
    user-select: none;
    overflow: hidden;
}

#content {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(calc(100vw / 1.22), calc(100vh * 1.22));
    height: fit-content;
}

#frame {
    position: relative;
    width: 100%;
    image-rendering: pixelated;
}
@keyframes roll {
    from { transform: translate(-50%, -50%) rotate(0deg); }
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

#links {
    position: relative;
    left: 50%;
    height: min(calc(5vw / 1.22), calc(5vh * 1.22));
    width: fit-content;
    transform: translateX(-50%);
}
.link {
    position: relative;
    display: inline-block;
    height: 100%;
    aspect-ratio: 1/1;
    background: transparent;
    cursor: pointer;
    opacity: .4;
}
.link svg {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    fill: var(--front);
}
.link:hover {
    opacity: .6;
}
.link:active {
    opacity: .5;
}

#error {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--front);
    font-size: 3vmin;
}
#error span {
    display: block;
    font-size: 2vmin;
}